@include mediaExtraLarge {
}

@include mediaLarge {
}

@include mediaMedium {
    .header {
        .menu {
            display: none;
        }
    }

    #contact {
        .contact-form {
            .info {
                display: flex;
                justify-content: space-between;
                flex-direction: row;

                .info-item {
                    flex: 1;
                    text-align: center;
                    margin: 0;

                    p {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@include mediaSmall {
    #home {
        .home-left {
            margin-bottom: 40px;

            h1 {
                font-size: 2rem;
            }
        }
    }
}
